# Hi there ðŸ‘‹
---
## This is my Fifth assignment in <span style="color: blue"> COMP4381</span>.
## My name is :<span style="color: #F41F4E"> Worood Assi.</span>
## & my ID is:<span style="color: #F41F4E"> 1210412.</span>
***

<span style="font-weight: bold"> **->** In this assignment I analysed the Online Retail II UCI dataset.</span>

## About Dataset:
### Context
    This Online Retail II data set contains all the transactions occurring for a UK-based and registered, non-store online retail between 01/12/2009 and 09/12/2011.The company mainly sells unique all-occasion gift-ware. Many customers of the company are wholesalers.

    src="https://www.kaggle.com/datasets/mashlyn/online-retail-ii-uci"

### Content
    Attribute Information:

- InvoiceNo: Invoice number. Nominal. A 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'c', it indicates a cancellation.
- StockCode: Product (item) code. Nominal. A 5-digit integral number uniquely assigned to each distinct product.
- Description: Product (item) name. Nominal.
- Quantity: The quantities of each product (item) per transaction. Numeric.
- InvoiceDate: Invice date and time. Numeric. The day and time when a transaction was generated.
- UnitPrice: Unit price. Numeric. Product price per unit in sterling (Ã‚Â£).
- CustomerID: Customer number. Nominal. A 5-digit integral number uniquely assigned to each customer.
- Country: Country name. Nominal. The name of the country where a customer resides.

In [1]:
import pandas as pd
# load the dataset
df = pd.read_csv("online_retail_II.csv")
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

### Randomly select 200k row from the dataset using <span style="color:red">1210412</span> as seed.

In [2]:
import numpy as np
np.random.seed(1210412)
data = df.sample(n=200000)
data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
280979,516749,21908,CHOCOLATE THIS WAY METAL SIGN,12,2010-07-22 15:33:00,2.10,14099.0,United Kingdom
239243,512539,22613,PACK OF 20 SPACEBOY NAPKINS,2,2010-06-16 12:48:00,0.85,13567.0,United Kingdom
868725,566949,84997D,CHILDRENS CUTLERY POLKADOT PINK,1,2011-09-15 16:32:00,8.29,NaN,United Kingdom
43132,493074,21255,"FRENCH BOTTLE , LAVENDER",1,2009-12-22 09:45:00,3.43,NaN,United Kingdom
681787,550131,22982,PANTRY PASTRY BRUSH,12,2011-04-14 13:27:00,1.25,15935.0,United Kingdom
...,...,...,...,...,...,...,...,...
422521,529813,22766,PHOTO FRAME CORNICE,4,2010-10-31 11:09:00,2.95,13888.0,United Kingdom
879154,567819,22153,ANGEL DECORATION STARS ON DRESS,48,2011-09-22 12:42:00,0.42,14004.0,United Kingdom
968665,574694,22945,CHRISTMAS METAL TAGS ASSORTED,12,2011-11-06 13:36:00,0.85,12381.0,Norway
383106,526217,22110,BIRD HOUSE HOT WATER BOTTLE,1,2010-10-10 14:30:00,2.55,14390.0,United Kingdom
504134,536530,22120,WELCOME WOODEN BLOCK LETTERS,1,2010-12-01 13:21:00,9.95,17905.0,United Kingdom

In [3]:
data['Customer ID'] = data['Customer ID'].astype(str)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 280979 to 504134
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      200000 non-null  object
 1   StockCode    200000 non-null  object
 2   Description  199161 non-null  object
 3   Quantity     200000 non-null  int64
 4   InvoiceDate  200000 non-null  object
 5   Price        200000 non-null  float64
 6   Customer ID  200000 non-null  object
 7   Country      200000 non-null  object
dtypes: float64(1), int64(1), object(6)
memory usage: 9.2+ MB

In [4]:
data.describe()

            Quantity          Price
count  200000.000000  200000.000000
mean        9.457865       4.666213
std        70.899664      79.734983
min     -9000.000000       0.000000
25%         1.000000       1.250000
50%         3.000000       2.100000
75%        10.000000       4.150000
max      6768.000000   17836.460000

**Then, I used appropriate grouping and answered the following questions:**

## <span style="color: rgba(239, 77, 47, 1)">Q1) Determine the total sales per invoice and identify the top 5 invoices.</span>

* First, I found the total sales for each row by multiplying the quantity and the price

In [5]:
data['Total Sales'] = data['Quantity'] * df['Price']
data

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Total Sales
280979,516749,21908,CHOCOLATE THIS WAY METAL SIGN,12,2010-07-22 15:33:00,2.10,14099.0,United Kingdom,25.20
239243,512539,22613,PACK OF 20 SPACEBOY NAPKINS,2,2010-06-16 12:48:00,0.85,13567.0,United Kingdom,1.70
868725,566949,84997D,CHILDRENS CUTLERY POLKADOT PINK,1,2011-09-15 16:32:00,8.29,nan,United Kingdom,8.29
43132,493074,21255,"FRENCH BOTTLE , LAVENDER",1,2009-12-22 09:45:00,3.43,nan,United Kingdom,3.43
681787,550131,22982,PANTRY PASTRY BRUSH,12,2011-04-14 13:27:00,1.25,15935.0,United Kingdom,15.00
...,...,...,...,...,...,...,...,...,...
422521,529813,22766,PHOTO FRAME CORNICE,4,2010-10-31 11:09:00,2.95,13888.0,United Kingdom,11.80
879154,567819,22153,ANGEL DECORATION STARS ON DRESS,48,2011-09-22 12:42:00,0.42,14004.0,United Kingdom,20.16
968665,574694,22945,CHRISTMAS METAL TAGS ASSORTED,12,2011-11-06 13:36:00,0.85,12381.0,Norway,10.20
383106,526217,22110,BIRD HOUSE HOT WATER BOTTLE,1,2010-10-10 14:30:00,2.55,14390.0,United Kingdom,2.55
504134,536530,22120,WELCOME WOODEN BLOCK LETTERS,1,2010-12-01 13:21:00,9.95,17905.0,United Kingdom,9.95

* Then I divided the data according to each invoice using Groupby and calculated the total sales for each invoice

In [6]:
# Group the data by invoice and calculate the sum of total sales per invoice
top5 = data.groupby('Invoice')['Total Sales'].sum()
print('the top 5: ',top5.nlargest(5))

the top 5:  Invoice
576365    15757.86
524181    10094.80
574941     9973.30
572209     9855.00
537659     9565.56
Name: Total Sales, dtype: float64

## <span style="color: rgba(239, 77, 47, 1)">Q2) Compute the total sales per customer and list the top 5 customers.</span>

* Based on the Total Sales column in the previous question:
  
    I divided the data according to each Customer using Groupby and calculated the total sales for each one

In [7]:
# Group the data by customer id and calculate the sum of total sales per invoice
top5 = data.groupby('Customer ID')['Total Sales'].sum()
print('the top 5: ',top5.nlargest(5))

the top 5:  Customer ID
nan        530036.06
18102.0    127872.79
14646.0     94122.59
14156.0     52027.56
17450.0     50206.34
Name: Total Sales, dtype: float64

## <span style="color: rgba(239, 77, 47, 1)">Q3) Identify the top 5 selling items during this period.</span>

* I divided the data according to each stock code (item) using Groupby and calculated the quantity for each item

In [8]:
top5 = data.groupby('StockCode')['Quantity'].sum()
print('the top 5: ',top5.nlargest(5))

the top 5:  StockCode
21212     21913
85099B    18369
85123A    17864
22197     17609
84077     16164
Name: Quantity, dtype: int64

## <span style="color: rgba(239, 77, 47, 1)">Q4) Determine the most frequently purchased item pairs by customers and display the top 20 pairs.</span>

* To calculate the most pairs of items purchased by customers, I used the following libraries

* I grouped the data according to the customer id

In [10]:
import pandas as pd
from itertools import combinations
from collections import Counter

groupData = data.groupby('Customer ID')['StockCode'].unique().reset_index()
pairsItems = [] # Create a list to store item pairs

* I created pairs of products for each customer using combinations

In [11]:
for items in groupData['StockCode']:
    pairsItems.extend(combinations(items, 2)) # 2 is the number of items that are grouped together

* Using Counter function, the number of occurrences for each pair was counted

In [12]:
pair_counts = Counter(pairsItems)

* Through this method, the values â€‹â€‹were arranged in descending order according to the number of occurrences of each pair

In [14]:
sorted_pairs = sorted(pair_counts.items(), key=lambda x: x[1], reverse=True)

* **Display the top 20 pairs.**

In [22]:
top_20 = sorted_pairs[:20]
top_20

[(('85123A', '21733'), 83),
 (('85099B', '22386'), 75),
 (('20725', '20727'), 66),
 (('20725', '20728'), 66),
 (('85123A', '22470'), 66),
 (('85123A', '22469'), 65),
 (('85099B', '85099F'), 65),
 (('22423', '85123A'), 64),
 (('20725', '22383'), 64),
 (('22383', '20727'), 63),
 (('85099B', '20725'), 63),
 (('20725', '20726'), 61),
 (('22383', '22382'), 59),
 (('85123A', '22423'), 59),
 (('20725', '22384'), 59),
 (('22384', '20725'), 59),
 (('20725', '22382'), 57),
 (('21733', '85123A'), 57),
 (('85123A', '85099B'), 57),
 (('22383', '20728'), 57)]

## <span style="color: rgba(239, 77, 47, 1)">Q5) The retail store aims to introduce a new promotion targeting items with low sales volume. This promotion entails offering a discounted price for a pair of two different items, with one item being among the top 10 best sellers and the other from the bottom 10 sellers. Customers who purchase these two items together will qualify for the special pricing. Your task is to recommend 10 pairs of items to kickstart this campaign.</span>

* Group the data by 'StockCode' and calculate the total quantity sold for each stock code
* and sorted them

In [30]:
numOfItemsSales = data.groupby('StockCode')['Quantity'].sum()
numOfItemsSalesSorted = numOfItemsSales.sort_values(ascending=False)

* We can see the top 10 best sallers and the bottom 10 sellers

In [36]:
top_10 = numOfItemsSalesSorted.head(10)
bottom_10 = numOfItemsSalesSorted.tail(10)
       
print('The top 10 best sellers: ', top_10)
print('The bottom 10 sellers: ', bottom_10)

The top 10 best sellers:  StockCode
21212     21913
85099B    18369
85123A    17864
22197     17609
84077     16164
84879     15879
84991     11143
21977      8789
85099F     8282
84755      7803
Name: Quantity, dtype: int64
The bottom 10 sellers:  StockCode
22433    -3732
85160A   -4295
22755    -4413
85110    -4497
C3       -4999
22752    -5157
84016    -6391
22126    -6400
21088    -6517
10120    -8946
Name: Quantity, dtype: int64

* **<span style="color: blue">Offering pairs in which if one of them is purchased, the customer gets a discount</span>**

In [37]:
for top_item, bottom_item in zip(top_10.index, bottom_10.index):
    print((top_item, bottom_item))

('21212', '22433')
('85099B', '85160A')
('85123A', '22755')
('22197', '85110')
('84077', 'C3')
('84879', '22752')
('84991', '84016')
('21977', '22126')
('85099F', '21088')
('84755', '10120')